/* index html*/

.buttons2{
  height: 100px;
  width: 150px; 
  text-align: center;
}

/*registr and enter */
.nameandsur {
	text-align: center; 
}

.center{
	margin-left: 450px;
}

.audio{
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.left-right-photo{
	width: 200px;
}

.youself-information{
	width: 500px;
}

.y-inform{
	font-size: 19px;
	padding-top: 35px;
}

.margin-top{
	padding-top: 10px;
}

.align{
	padding-bottom: 35px;
}

.align-input{
	margin-left: 20px;
}


.yabloko_http{
	width: 200px;
	padding-top: 20px; 
}

.donbas{
	padding-top: 20px; 
}

.button{
	font-size: 20px;
	margin-left: 20px;
}

b.margin_top{
	padding-bottom: 20px;
	font-size: 19px;
}

.enter_align{
	width: 200px;
	height: 200px;
	padding-top: 20px;
}

.casino_and_1xbet{
	height: 200px;
	width: 170px;
	padding-top: 73px;
}

.enter_bottom{
	font-size: 20px;
	margin-top: 50px;
}

.enter_yabkoli{
	width: 700px;
	height: 100px;
	margin-top: 100px;
}

b.margin-top{
	font-size: 20px;
}

.login-password{
  font-size: 25px;
}

/*registr and enter finish */