.nameandsur {
	text-align: center; 
}

.center{
	margin-left: 450px;
}

.audio{
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.leftandright{
	width: 200px;
}

.youself-information{
	width: 500px;
}

.y-inform{
	padding-top: 35px;
}

.margin-top{
	padding-top: 10px;
}

.align{
	padding-bottom: 35px;
}

.align-input{
	margin-left: 20px;
}

.marg-left{
  margin-right: 50px;
} 

.marg-left1{
	margin-right: 13px;
}

.marg-left2{
  margin-right: 17px;
}

.marg-left3{
  margin-right: 36px;
}

.yabloko_http{
	width: 200px;
	padding-top: 20px; 
}

.donbas{
	padding-top: 20px; 
}

.button{
	font-size: 20px;
	margin-left: 20px;
}

.enter_align{
	width: 200px;
	height: 200px;
	padding-top: 20px;
}

.casino_and_1xbet{
	height: 200px;
	width: 170px;
	padding-top: 73px;
}

.enter_bottom{
	font-size: 20px;
	margin-top: 50px;
}

.enter_yabkoli{
	width: 700px;
	height: 100px;
	margin-top: 100px;
}